*
	font-family: 'Roboto', Arial, sans-serif

body
	position: relative
	min-width: 320px
	color: $darkGray
	background: $white
	font-family: 'Roboto', Arial, sans-serif
	font-size: 14px
	line-height: 1.3

strong
	font-weight: 500

html,
body,
#root
	height: 100%

.main
	flex-grow: 1
	overflow: auto

#root
	display: flex
	flex-direction: column

.section
	padding: 10px
	margin: 0 auto
	max-width: 600px

[hidden]
	display: none !important

.pre-line
	white-space: pre-line