<table
  border="0"
  cellspacing="0"
  cellpadding="0"
  style="table-layout: fixed; padding: 0; margin: 0 auto; border-collapse: collapse; border-spacing: 0; width: 100%;"
  class="report"
>
  <tr>
    <td style="padding: 20px 15px;">
      <table
        border="0"
        cellspacing="0"
        cellpadding="0"
        style="table-layout: fixed; padding: 0; margin: 0 auto; border-collapse: collapse; border-spacing: 0; width: 100%;"
        class="report"
      >
        <tr>
          <td style="padding-bottom: 10px; font-size: 14px; line-height: 1.2;">Stores with open registers:</td>
        </tr>
        <tr>
          <td>
            <table
              border="0"
              cellspacing="0"
              cellpadding="0"
              style="table-layout: fixed; padding: 0; margin: 0 auto; border-collapse: collapse; border-spacing: 0; width: 100%;"
            >
              <thead class="report__header">
                <tr>
                  <td style="padding: 5px 0; width: 50%; font-size: 18px; font-weight: 500; line-height: 1.2;">Store(s)</td>
                  <td style="padding: 5px 0; width: 50%; font-size: 18px; font-weight: 500; line-height: 1.2;">Register(s)</td>
                </tr>
              </thead>
              <tbody>
                {% for item in [
                  { store: 'Main st.', register: 'Reg 1, Reg 3' },
                  { store: 'Broad st.', register: 'Reg 2' }
                ] %}
                  <tr class="report__row">
                    <td style="padding: 5px 0; width: 50%;" class="report__col">
                      <div class="report__label" style="display: none; opacity: 0.5; font-size: 14px; font-weight: 400; line-height: 1.2;">Store(s)</div>
                      <div class="report__value" style="color: #ec4a41; font-size: 14px; font-weight: 400; line-height: 1.2;">{{item.store}}</div>
                    </td>
                    <td style="padding: 5px 0; width: 50%;" class="report__col">
                      <div class="report__label" style="display: none; opacity: 0.5; font-size: 14px; font-weight: 400; line-height: 1.2;">Register(s)</div>
                      <div class="report__value" style="color: #ec4a41; font-size: 14px; font-weight: 400; line-height: 1.2;">{{item.register}}</div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="padding: 20px 15px;">
      <table
        border="0"
        cellspacing="0"
        cellpadding="0"
        style="table-layout: fixed; padding: 0; margin: 0 auto; border-collapse: collapse; border-spacing: 0; width: 100%;"
        class="report"
      >
        <tr>
          <td style="padding-bottom: 10px; font-size: 14px; line-height: 1.2;">Stores with cash register variances:</td>
        </tr>
        <tr>
          <td>
            <table
              border="0"
              cellspacing="0"
              cellpadding="0"
              style="table-layout: fixed; padding: 0; margin: 0 auto; border-collapse: collapse; border-spacing: 0; width: 100%;"
            >
              <thead class="report__header">
                <tr>
                  <td style="padding: 5px 0; font-size: 18px; font-weight: 500; line-height: 1.2;">Store(s)</td>
                  <td style="padding: 5px 0; font-size: 18px; font-weight: 500; line-height: 1.2;">Register(s)</td>
                  <td style="padding: 5px 0; font-size: 18px; font-weight: 500; line-height: 1.2;">Variance</td>
                  <td style="padding: 5px 0; font-size: 18px; font-weight: 500; line-height: 1.2;">Closed By</td>
                  <td style="padding: 5px 0; font-size: 18px; font-weight: 500; line-height: 1.2;">Time</td>
                </tr>
              </thead>
              <tbody>
                {% for item in [
                  { store: 'Main st.', register: 'Reg 1', variance: '-$885.00', closedBy: 'Bob Smith', time: '09:44 pm', state: false },
                  { store: 'Broad st.', register: 'Reg 2', variance: '+$12.50', closedBy: 'Michael Jordan', time: '09:05 pm', state: true }
                ] %}
                  <tr class="report__row">
                    <td style="padding: 10px 0; border-bottom: 1px solid #c1c1c1;" class="report__col">
                      <div class="report__label" style="display: none; opacity: 0.5; font-size: 14px; font-weight: 400; line-height: 1.2;">Store(s)</div>
                      <div class="report__value" style="font-size: 14px; font-weight: 400; line-height: 1.2;">{{item.store}}</div>
                    </td>
                    <td style="padding: 10px 0; border-bottom: 1px solid #c1c1c1;" class="report__col">
                      <div class="report__label" style="display: none; opacity: 0.5; font-size: 14px; font-weight: 400; line-height: 1.2;">Register(s)</div>
                      <div class="report__value" style="font-size: 14px; font-weight: 400; line-height: 1.2;">{{item.register}}</div>
                    </td>
                    <td style="padding: 10px 0; border-bottom: 1px solid #c1c1c1;" class="report__col">
                      <div class="report__label" style="display: none; opacity: 0.5; font-size: 14px; font-weight: 400; line-height: 1.2;">Variance</div>
                      <div class="report__value" style="{% if item.state %}color: #22b745;{% else %}color: #ec4a41;{% endif %} font-size: 14px; font-weight: 400; line-height: 1.2;">{{item.variance}}</div>
                    </td>
                    <td style="padding: 10px 0; border-bottom: 1px solid #c1c1c1;" class="report__col">
                      <div class="report__label" style="display: none; opacity: 0.5; font-size: 14px; font-weight: 400; line-height: 1.2;">Closed By</div>
                      <div class="report__value" style="font-size: 14px; font-weight: 400; line-height: 1.2;">{{item.closedBy}}</div>
                    </td>
                    <td style="padding: 10px 0; border-bottom: 1px solid #c1c1c1;" class="report__col">
                      <div class="report__label" style="display: none; opacity: 0.5; font-size: 14px; font-weight: 400; line-height: 1.2;">Time</div>
                      <div class="report__value" style="font-size: 14px; font-weight: 400; line-height: 1.2;">{{item.time}}</div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>