{% macro icon(i, class) %}
	<svg class="icon icon-{{i}} {{class}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro checkbox(props) %}
	<label class="checkbox {{props.classList}}">
		<input type="checkbox" class="checkbox__input" {{props.attrs | safe}}>
		<span class="checkbox__icon">
			{{icon('check', 'checkbox__icon-in')}}
		</span>
		{% if props.text %}
			<span class="label checkbox__text">{{props.text}}</span>
		{% endif %}
	</label>
{% endmacro %}

{% macro switcher(props) %}
	<label class="awesome-switcher {{props.classList}}">
		<input {{props.attrs | safe}} type="checkbox" class="awesome-switcher__input">
		<span class="awesome-switcher__control"></span>
		{% if props.text %}
			<span class="label label_simple awesome-switcher__text">{{props.text}}</span>
		{% endif %}
	</label>
{% endmacro %}

{% macro radio(props) %}
<label class="radio">
	<input type="radio" name="{{props.name}}" {{props.attrs | safe}}>
	<span class="radio__icon"></span>
	{% if props.text %}
		<span class="label label_simple radio__text">{{props.text}}</span>
	{% endif %}
</label>
{% endmacro	 %}