<div class="modal modal_sm" data-modal="attention">
	<div class="modal__container" data-modal-container>
		<button class="modal__close" data-modal-close>
			{{mixins.icon('close')}}
		</button>
		<div class="modal-content">
			<div class="modal-content__header">
				<div class="modal-content__title">Attention</div>
			</div>
			<div class="modal-content__body">
				<p>Alert might be sent to "N" mobile numbers! Please check that you selected correct role and this role is correctly assigned to the users in the stores.</p>
				<p><a href="#">View details</a></p>
			</div>
			<div class="modal-content__footer">
				<button class="btn btn_red modal-content__btn" data-modal-close>Cancel</button>
				<button class="btn modal-content__btn" data-modal-close>Confirm</button>
			</div>
		</div>
	</div>
</div>