.grid
	// display: table
	// table-layout: fixed
	border: 1px solid #ccc
	width: 100%
	&__header,
	&__body
		display: table
		table-layout: fixed
		width: 100%
	&__header
		// display: table-header-group
		background: #e6e6e6
		.grid__column
			vertical-align: middle
			&_checkbox
				font-size: 0
		.grid__header-row
			&:not(:first-child)
				.grid__column
					border-top: 1px solid #ccc
	&__body
		// display: table-row-group
		.grid__column
			vertical-align: top
			border-top: 1px solid #ccc
			&_checkbox,
			&_enabled,
			&_edit
				font-size: 0
	&__header-row,
	&__row
		display: table-row
		// display: flex
	&__row
		cursor: pointer
		font-size: 16px
		+hover
			.grid__btn
				opacity: 1
		&:nth-child(odd)
			background: $lightGray
	&__column
		display: table-cell
		// flex: 1 1 auto
		padding: 10px 5px
		&:first-child
			padding-left: 10px
		&:last-child
			padding-right: 10px
		&_enabled,
		&_edit
			text-align: center
		&_enabled
			width: 75px
		&_checkbox
			width: 45px
		&_edit
			width: 45px
		&_message
			width: 35%
			+r(660)
				width: 80%
		&_to
			width: 24%
		&_channel
			width: 10%
		&_channel,
		&_to,
		&_to-channel
			+r(660)
				display: none
		&_to-channel
			width: 34%
	&__inner
		padding: 0 5px
		margin: -5px
		&-table
			display: table
			table-layout: fixed
			width: 100%
		&-row
			display: table-row
			&:not(:last-child)
				.grid__inner-column
					border-bottom: 1px solid rgba(#ccc, 0.5)
		&-column
			display: table-cell
			padding: 5px 0
			min-height: 1px
			&_to
				padding-right: 10px
				width: 70%
			&_channel
				width: 30%
	&__btn
		opacity: 0
		+touch
			opacity: 1
	&__icon
		fill: #ccc
		font-size: 22px
		&_active
			fill: $green