.messages
	&__inner
		padding: 40px 20px
		margin: 0 auto
		max-width: 800px
		+xs
			padding: 30px 20px
	&__header
		margin-bottom: 30px
		+clr
	&__select
		float: left
		max-width: 280px
		+r(500)
			max-width: 130px
	&__btn
		float: right
	&__pagination
		margin-top: 30px