.settings
	padding: 40px 20px
	margin: 0 auto
	max-width: 800px
	+xs
		padding: 30px 20px
	&__header
		padding-bottom: 30px
		transition: color 0.25s
	&__title
		position: relative
		+f(24px, 700, 1)
		+xs
			+f(20px)
		+xxs
			text-align: center
	&__arrow
		position: absolute
		top: 50%
		right: 0
		margin-top: -0.25em
		fill: currentColor
		font-size: 0.5em
		transition: transform 0.25s
	&__row
		&:not(:last-child)
			margin-bottom: 30px
	&__table
		margin: -8px
		+xxs
			padding: 0 20px
			margin: 0 -20px 30px
			border-top: 1px solid #ccc
			border-bottom: 1px solid #ccc
	&__thead
		+xxs
			display: none
	&__tbody
		.settings
			&__tr
				&:not(:last-child)
					+xxs
						border-bottom: 1px solid #ccc
	&__tr
		position: relative
		display: flex
		padding-right: 40px
		+xxs
			flex-direction: column
			padding: 13px 0 15px 0
	&__td
		padding: 8px
		flex-grow: 1
		flex-shrink: 1
		+xxs
			padding: 8px 0
		&_lg
			flex-basis: 60%
		&_sm
			flex-basis: 40%
		&-label
			display: none
			margin-bottom: 8px
			+xxs
				display: block
	&__tfoot
		// padding-top: 10px
		+xxs
			// padding-top: 10px
			padding-bottom: 30px
		.settings
			&__tr,
			&__td
				+xxs
					padding-top: 0
					padding-bottom: 0
	&__remove
		position: absolute
		top: 8px
		right: 0
		width: 40px
		height: 40px
		background: none
		+xxs
			top: 5px
			right: 0
			margin: 0
		span
			position: absolute
			top: 50%
			left: 50%
			transform: rotate(45deg)
			&:before,
			&:after
				content: ''
				position: absolute
				top: 50%
				left: 50%
				width: 18px
				height: 1px
				background: currentColor
				transform: translate(-50%,-50%)
			&:after
				transform: translate(-50%,-50%) rotate(90deg)
	&__footer
		display: flex
		align-items: center
		justify-content: center
		margin: -10px
		&-btn
			padding: 10px
			width: 100%
			max-width: 140px
			+xxs
				width: 50%
				max-width: none
			.btn
				+xxs
					width: 100%
	&__add
		+xxs
			width: 100%